.logo
{
	width: 25%;
	float: left;
}

.homeJumboInfo
{
	float: right;
}

.homeJumbotron
{
	background-color: #9E9E9E;
	margin: 20px;
	overflow: hidden;
}

a
{
    text-decoration: none !important;
}

.list-group
{
	color: red;
}

.card
{
	margin: 20px;
}


.category
{
	color: #FFF !important;
}

.websiteName
{
	font-size: 300%;
}

.smallInfo
{
	font-size: 200%
}


.eachpost
{
	color: blue;
}

.userPostedImage
{
	width: 100px;
	height: 100px;
}

.userPostedPostTitle{
	color: black;
	font-size: 30px;
	margin-left: 20px;
	text-decoration: none;
	font-family: 'Gamja Flower', cursive !important;
}
.userWhoPosted
{
	margin-left: 20px;
	font-size: 15px;
	color: grey;
}

.timeOfPost
{
	margin-left: 10px;
	color: black;
}

.postForm
{
	margin-left: 20px;
	margin-right:10px;
}

.title
{
	margin-bottom: 3px;
	font-size: 25px;
	font-family: 'Gamja Flower', cursive !important;
}
.link
{
	font-family: monospace;
	color: blue !important;
}

.postButton
{
	margin-top: 5px;
}

.tab-content{
overflow: hidden;
}

.nav-tabs
{
margin-bottom: 0px;
}

.profile_image{
	width: 90px;
	height: 90px;
}
