{% extends "layout.html" %}

{% block title %} OOPS!  {% endblock %}

{% block login %} 

{% endblock %}

{% block body %}






<div class="card" >
	<div class="card-body">
			<div class="container">
					<h1 class="card-title">ERROR 404</h1>
					<label>Page do not exist! Click <a href="{{url_for('login')}}">here</a> to navigate to login page </label>
					<br>
					<label> We are sorry for your misconvenience as you have browsed to the page which does not exist!  </label>
		  </div>
	</div>



</div>


{% endblock %}