{% extends "layout.html" %}

{% block title %} Enter Password {% endblock %}

{% block login %} 

{% endblock %}

{% block body %}


<div style="margin-top: 10px; " class="col-lg-6">



	<div class="card" style="align-content: center;" >

	  <div class="card-body">
	  	    <h5 class="card-title">Please enter new Password  </h5>

				{% from "_formhelpers.html" import render_field %}
			<form method=post>

			    <div class="form-group">
					{{ render_field(form.password, class="form-control") }}
				</div>

				<button type="submit" class="btn btn-success"> Confirm Password </button>
			</form>
			

	  </div>
	</div>

</div>

{% endblock %}